/* CSS Document */
head {font: 32px Arial; color:blue; text-align:center; }
h1 {font: 28px Arial;text-align:center; }
h2 {font: 24px Arial; }
h3 {font: 20px Arial; color: blue; background:yellow; font-weight: bold}
p {font: 16px Arial; }
body {background-color:#FFFFE0;}
